Source: docmycode
Section: unknown
Priority: extra
Maintainer: oliv <oliv@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2


Package: docmycode
Architecture: any
Depends: 
Description: Mise en page de la documentation du code 
